* {
    box-sizing: border-box;
}

body {
    background-color: #fcebb6;
    color: #221811; /*text color*/
    font-family: Verdana, Arial, sans-serif;
    background-image: url('background.gif');
}

header {
    background-color: #D2B48C;
    text-align: center;
    height: 150px;
    background-image: url('javajamlogo.jpg');
    background-repeat: no-repeat;
    display: block;
}

h1 {
    /*line-height: 200%;   (removed) line spacing*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left; /*to float the lement on the left side of the container*/
    width:200px;
    display: block;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811; /*1.width 2.style 3.color*/
    display: block;
}

#wrapper {
    width: 80%; /*the width of the contect of an element*/
    margin-right: auto; /*configures the space in the right margin of the element*/
    margin-left: auto; /*configures the space in the left margin of the element*/
    background-color: #231814;
    min-width: 900px; /* configure a minimum width for an element*/
    max-width: 1280px; 
    box-shadow: -3px 3px 3px 2px #333333;
    /*1.horizontal offset 2.vertical offset 3.blur radius(optional) 4.spread distance(optional) 5.color */

}

nav a {
    text-decoration: none; /*removed default underline*/
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: red;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    list-style-type: none; /* remove link marker eg. dot in list*/
    padding-left: 0;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    padding-bottom: 0;
    clear: left; /*often used to terminate or clear float */
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto; /* often use to clear a float although its intended purpose is to configure how content should display if it is too large for the area allocated.
                        Auto=if needed, scrollbar are displayed to allow access to the remaining content */
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url('heroroad.jpg');
    background-size: 100% 100%; /*width, height*/
    height:250px;

}

#heromugs {
    background-image: url('heromugs.jpg');
    background-size: 100% 100%;
    height:250px;
}

#heroguitar {
    background-image: url('heroguitar.jpg');
    background-size: 100% 100%;
    height:250px;
}

#herojobs {
    background-image: url('herojobs.jpg');
    background-size: ;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header, nav, main, footer {
    display: block;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;

}